# upstream.conf.j2
# AWS DR environment - single prod VM, no Blue/Green
# Traffic goes directly to prod VM on internal private IP

upstream app_frontend {
    server {{ blue_app_ip }}:3000;
}

upstream app_backend_api {
    server {{ blue_app_ip }}:4000;
}